{% load static %}
<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="{% static '/css/contactpage.css'%}">
  <link rel="stylesheet" href="{% static '/css/all.min.css'%}">
  <link rel="stylesheet" href="{% static '/css/fontawesome.min.css'%}">

  <link rel="stylesheet" href="{% static '/css/dropdown.css'%}">
    <head>
    
    <title>
        Edit Profile||Abstergo
    </title>
    <link rel="icon" type="image/ico" href="{% static '/images/ab.ico' %}">
    </head>
    <body style="background-color: white;">
        <div class="top">
            <a href="../patient-index">
            <img src="{% static '/images/ab.png' %}" width="auto" height="60px" class="align" style="display: block; margin-left: auto;margin-right: auto;">
            </a>
        </div>
        <div class="topnav">
            <a href="../patient-index"><i class="fas fa-home"></i> Home</a>
           <!--- <div class="float">-->
              <div class="dropdown" style="float: right;">
                <button class="dropbtn"> Profile
                    <i class="fas fa-user-circle"></i>
                     <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-content">
                    <a href="../patient-dashboard"><i class="fas fa-address-book"></i> Dashboard</a>
                  <a href="../edit-patient-profile"><i class="fas fa-portrait"></i> Edit Profile</a>
                  <a href="../index"><i class="fas fa-sign-in-alt"></i> Log Out</a>
                  </div>
                </div>
                <a href="../patient-appointment-schedule"><i class="far fa-calendar-alt"></i> My Appointments</a>
                
                <a href="../patientcontactus"><i class="fas fa-mobile-alt"></i> Contact Us</a>
                
          
        </div> 
        
        <h1>Edit Profile</h1>
        <em><p>Edit/Update your Profile</p></em>
        <form name="validform" method="POST" action="index.html">
            <label><b>First Name</b></label><br>
            <input type="text" placeholder="Enter First Name" name="frname"><br>

            <label><b>Last Name</b></label><br>
            <input type="text" placeholder="Enter Last Name" name="lsname" ><br>
            
             <label><b>Email</b></label><br>
            <input type="email" placeholder="Enter Email" name="email" ><br>
            
            <label><b>Telephone Number (with country code)</b></label><br>
            <input type="tel" placeholder="Telephone No. (Optional)" name="telno"><br>

            
          <button class="registerbtn"><a href="../patient-index" onclick="alert('Profile Updated Successfully')">Save Changes</a></button>
            </form>
    </body>
</html>