{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/style2.css' %}">
    <link rel="stylesheet" href="{% static '/css/dropdown.css' %}">
    <link rel="stylesheet" href="{% static '/css/login_css.css' %}">
    <title>Dashboard-Patient||Abstergo</title>
    <link rel="icon" type="image/ico" href="{% static '/images/ab.ico' %}">
</head>
<body style="background-image: url(../static/images/12.png);">
    <div class="top">
        <a href="../patient-index">
            <img src="{% static '/images/ab.png' %}" width="auto" height="60px" class="align" style="display: block; margin-left: auto;margin-right: auto;">
        </a>
    </div>
    <div class="topnav">
        <a href="../patient-index"><i class="fas fa-home"></i> Home</a>
        <div class="dropdown" style="float: right;">
            <button class="dropbtn"> Profile
                <i class="fas fa-user-circle"></i>
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="../patient-dashboard"><i class="fas fa-address-book"></i> Dashboard</a>
                <a href="../edit-patient-profile"><i class="fas fa-portrait"></i> Edit Profile</a>
                <a href="{% url 'patient_logout' %}"><i class="fas fa-sign-in-alt"></i> Log Out</a>
            </div>
        </div>
        <a href="../patient-appointment-schedule"><i class="far fa-calendar-alt"></i> My Appointment</a>
        <a href="../patientcontactus"><i class="fas fa-mobile-alt"></i> Contact Us</a>
    </div> 

    <center>
    <div style="background-color: white; width: 95%; height: 85%;">
        <marquee direction="up" scrollamount="5"><h1 style="text-align: left; color: green;">Welcome {{ user.username }}!!</h1></marquee>
        <h1 style="text-align: left; font-weight: 100;">Dashboard</h1>

        
        
        <br>
    </center>
    </div>
</body>
</html>
